openapi: 3.1.0
info:
  # To avoid the introduction page we set the title to empty string
  # https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/4e771d309f6defe395449b26cc3c65814d72cbcc/packages/docusaurus-plugin-openapi-docs/src/openapi/openapi.ts#L92-L129
  title: ""
  version: 0.1.0

servers:
  - url: https://demo.frigate.video/api
  - url: http://localhost:5001/api

paths:
  /auth/first_time_login:
    get:
      tags:
        - Auth
      summary: First Time Login
      description: |-
        Return whether the admin first-time login help flag is set in config.

        This endpoint is intentionally unauthenticated so the login page can
        query it before a user is authenticated.
      operationId: first_time_login_auth_first_time_login_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /auth:
    get:
      tags:
        - Auth
      summary: Authenticate request
      description: >-
        Authenticates the current request based on proxy headers or JWT token.
        This endpoint verifies authentication credentials and manages JWT token
        refresh. On success, no JSON body is returned; authentication state is
        communicated via response headers and cookies.
      operationId: auth_auth_get
      responses:
        "202":
          description: Authentication Accepted (no response body)
          content:
            application/json:
              schema: {}
          headers:
            remote-user:
              description: Authenticated username or "viewer" in proxy-only mode
              schema:
                type: string
            remote-role:
              description: "Resolved role (e.g., admin, viewer, or custom)"
              schema:
                type: string
            Set-Cookie:
              description: May include refreshed JWT cookie when applicable
              schema:
                type: string
        "401":
          description: Authentication Failed
  /profile:
    get:
      tags:
        - Auth
      summary: Get user profile
      description: >-
        Returns the current authenticated user's profile including username,
        role, and allowed cameras. This endpoint requires authentication and
        returns information about the user's permissions.
      operationId: profile_profile_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /logout:
    get:
      tags:
        - Auth
      summary: Logout user
      description: >-
        Logs out the current user by clearing the session cookie. After logout,
        subsequent requests will require re-authentication.
      operationId: logout_logout_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /login:
    post:
      tags:
        - Auth
      summary: Login with credentials
      description: >-
        Authenticates a user with username and password. Returns a JWT token as
        a secure HTTP-only cookie that can be used for subsequent API requests.
        The JWT token can also be retrieved from the response and used as a
        Bearer token in the Authorization header.


        Example using Bearer token:

        ```

        curl -H "Authorization: Bearer <token_value>"
        https://frigate_ip:8971/api/profile

        ```
      operationId: login_login_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppPostLoginBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /users:
    get:
      tags:
        - Auth
      summary: Get all users
      description: >-
        Returns a list of all users with their usernames and roles. Requires
        admin role. Each user object contains the username and assigned role.
      operationId: get_users_users_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
    post:
      tags:
        - Auth
      summary: Create new user
      description: >-
        Creates a new user with the specified username, password, and role.
        Requires admin role. Password must be at least 12 characters long.
      operationId: create_user_users_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppPostUsersBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/users/{username}":
    delete:
      tags:
        - Auth
      summary: Delete user
      description: >-
        Deletes a user by username. The built-in admin user cannot be deleted.
        Requires admin role. Returns success message or error if user not found.
      operationId: delete_user_users__username__delete
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            title: Username
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/users/{username}/password":
    put:
      tags:
        - Auth
      summary: Update user password
      description: >-
        Updates a user's password. Users can only change their own password
        unless they have admin role. Requires the current password to verify
        identity for non-admin users. Password must be at least 12 characters
        long. If user changes their own password, a new JWT cookie is
        automatically issued.
      operationId: update_password_users__username__password_put
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            title: Username
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppPutPasswordBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/users/{username}/role":
    put:
      tags:
        - Auth
      summary: Update user role
      description: >-
        Updates a user's role. The built-in admin user's role cannot be
        modified. Requires admin role. Valid roles are defined in the
        configuration.
      operationId: update_role_users__username__role_put
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            title: Username
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppPutRoleBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /go2rtc/streams:
    get:
      tags:
        - Camera
      summary: Go2Rtc Streams
      operationId: go2rtc_streams_go2rtc_streams_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  "/go2rtc/streams/{camera_name}":
    get:
      tags:
        - Camera
      summary: Go2Rtc Camera Stream
      operationId: go2rtc_camera_stream_go2rtc_streams__camera_name__get
      parameters:
        - name: camera_name
          in: path
          required: true
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Camera Name
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/go2rtc/streams/{stream_name}":
    put:
      tags:
        - Camera
      summary: Go2Rtc Add Stream
      description: Add or update a go2rtc stream configuration.
      operationId: go2rtc_add_stream_go2rtc_streams__stream_name__put
      parameters:
        - name: stream_name
          in: path
          required: true
          schema:
            type: string
            title: Stream Name
        - name: src
          in: query
          required: false
          schema:
            type: string
            default: ""
            title: Src
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    delete:
      tags:
        - Camera
      summary: Go2Rtc Delete Stream
      description: Delete a go2rtc stream.
      operationId: go2rtc_delete_stream_go2rtc_streams__stream_name__delete
      parameters:
        - name: stream_name
          in: path
          required: true
          schema:
            type: string
            title: Stream Name
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /ffprobe:
    get:
      tags:
        - Camera
      summary: Ffprobe
      operationId: ffprobe_ffprobe_get
      parameters:
        - name: paths
          in: query
          required: false
          schema:
            type: string
            default: ""
            title: Paths
        - name: detailed
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Detailed
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /ffprobe/snapshot:
    get:
      tags:
        - Camera
      summary: Ffprobe Snapshot
      description: Get a snapshot from a stream URL using ffmpeg.
      operationId: ffprobe_snapshot_ffprobe_snapshot_get
      parameters:
        - name: url
          in: query
          required: false
          schema:
            type: string
            default: ""
            title: Url
        - name: timeout
          in: query
          required: false
          schema:
            type: integer
            default: 10
            title: Timeout
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /reolink/detect:
    get:
      tags:
        - Camera
      summary: Reolink Detect
      description: >-
        Detect Reolink camera capabilities and recommend optimal protocol.


        Queries the Reolink camera API to determine the camera's resolution

        and recommends either http-flv (for 5MP and below) or rtsp (for higher
        resolutions).
      operationId: reolink_detect_reolink_detect_get
      parameters:
        - name: host
          in: query
          required: false
          schema:
            type: string
            default: ""
            title: Host
        - name: username
          in: query
          required: false
          schema:
            type: string
            default: ""
            title: Username
        - name: password
          in: query
          required: false
          schema:
            type: string
            default: ""
            title: Password
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /onvif/probe:
    get:
      tags:
        - Camera
      summary: Probe ONVIF device
      description: >-
        Probe an ONVIF device to determine capabilities and optionally test
        available stream URIs. Query params: host (required), port (default 80),
        username, password, test (boolean), auth_type (basic or digest, default
        basic).
      operationId: onvif_probe_onvif_probe_get
      parameters:
        - name: host
          in: query
          required: false
          schema:
            type: string
            title: Host
        - name: port
          in: query
          required: false
          schema:
            type: integer
            default: 80
            title: Port
        - name: username
          in: query
          required: false
          schema:
            type: string
            default: ""
            title: Username
        - name: password
          in: query
          required: false
          schema:
            type: string
            default: ""
            title: Password
        - name: test
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Test
        - name: auth_type
          in: query
          required: false
          schema:
            type: string
            default: basic
            title: Auth Type
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/cameras/{camera_name}":
    delete:
      tags:
        - Camera
      summary: Delete Camera
      description: |-
        Delete a camera and all its associated data.

        Removes the camera from config, stops processes, and cleans up
        all database entries and media files.

        Args:
            camera_name: Name of the camera to delete
            delete_exports: Whether to also delete exports for this camera
      operationId: delete_camera_cameras__camera_name__delete
      parameters:
        - name: camera_name
          in: path
          required: true
          schema:
            type: string
            title: Camera Name
        - name: delete_exports
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Delete Exports
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/camera/{camera_name}/set/{feature}/{sub_command}":
    put:
      tags:
        - Camera
      summary: Camera Set
      description: Set a camera feature state. Use camera_name='*' to target all cameras.
      operationId: camera_set_camera__camera_name__set__feature___sub_command__put
      parameters:
        - name: camera_name
          in: path
          required: true
          schema:
            type: string
            title: Camera Name
        - name: feature
          in: path
          required: true
          schema:
            type: string
            title: Feature
        - name: sub_command
          in: path
          required: true
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Sub Command
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CameraSetBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/camera/{camera_name}/set/{feature}":
    put:
      tags:
        - Camera
      summary: Camera Set
      description: Set a camera feature state. Use camera_name='*' to target all cameras.
      operationId: camera_set_camera__camera_name__set__feature__put
      parameters:
        - name: camera_name
          in: path
          required: true
          schema:
            type: string
            title: Camera Name
        - name: feature
          in: path
          required: true
          schema:
            type: string
            title: Feature
        - name: sub_command
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Sub Command
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CameraSetBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /chat/tools:
    get:
      tags:
        - Chat
      summary: Get available tools
      description: Returns OpenAI-compatible tool definitions for function calling.
      operationId: get_tools_chat_tools_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /chat/execute:
    post:
      tags:
        - Chat
      summary: Execute a tool
      description: Execute a tool function call from an LLM.
      operationId: execute_tool_chat_execute_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToolExecuteRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /chat/completion:
    post:
      tags:
        - Chat
      summary: Chat completion with tool calling
      description: >-
        Send a chat message to the configured GenAI provider with tool calling
        support. The LLM can call Frigate tools to answer questions about your
        cameras and events.
      operationId: chat_completion_chat_completion_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /faces:
    get:
      tags:
        - Classification
      summary: Get all registered faces
      description: |-
        Returns a dictionary mapping face names to lists of image filenames.
            Each key represents a registered face name, and the value is a list of image
            files associated with that face. Supported image formats include .webp, .png,
            .jpg, and .jpeg.
      operationId: get_faces_faces_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacesResponse"
  /faces/reprocess:
    post:
      tags:
        - Classification
      summary: Reprocess a face training image
      description: |-
        Reprocesses a face training image to update the prediction.
            Requires face recognition to be enabled in the configuration. The training file
            must exist in the faces/train directory. Returns a success response or an error
            message if face recognition is not enabled or the training file is invalid.
      operationId: reclassify_face_faces_reprocess_post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Body
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/faces/train/{name}/classify":
    post:
      tags:
        - Classification
      summary: Classify and save a face training image
      description: |-
        Adds a training image to a specific face name for face recognition.
            Accepts either a training file from the train directory or an event_id to extract
            the face from. The image is saved to the face's directory and the face classifier
            is cleared to incorporate the new training data. Returns a success message with
            the new filename or an error if face recognition is not enabled, the file/event
            is invalid, or the face cannot be extracted.
      operationId: train_face_faces_train__name__classify_post
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Body
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/faces/{name}/create":
    post:
      tags:
        - Classification
      summary: Create a new face name
      description: |-
        Creates a new folder for a face name in the faces directory.
            This is used to organize face training images. The face name is sanitized and
            spaces are replaced with underscores. Returns a success message or an error if
            face recognition is not enabled.
      operationId: create_face_faces__name__create_post
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/faces/{name}/register":
    post:
      tags:
        - Classification
      summary: Register a face image
      description: >-
        Registers a face image for a specific face name by uploading an image
        file.
            The uploaded image is processed and added to the face recognition system. Returns a
            success response with details about the registration, or an error if face recognition
            is not enabled or the image cannot be processed.
      operationId: register_face_faces__name__register_post
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/Body_register_face_faces__name__register_post
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /faces/recognize:
    post:
      tags:
        - Classification
      summary: Recognize a face from an uploaded image
      description: |-
        Recognizes a face from an uploaded image file by comparing it against
            registered faces in the system. Returns the recognized face name and confidence score,
            or an error if face recognition is not enabled or the image cannot be processed.
      operationId: recognize_face_faces_recognize_post
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Body_recognize_face_faces_recognize_post"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaceRecognitionResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/faces/{name}/delete":
    post:
      tags:
        - Classification
      summary: Delete face images
      description: >-
        Deletes specific face images for a given face name. The image IDs must
        belong
            to the specified face folder. To delete an entire face folder, all image IDs in that
            folder must be sent. Returns a success message or an error if face recognition is not enabled.
      operationId: deregister_faces_faces__name__delete_post
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteFaceImagesBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/faces/{old_name}/rename":
    put:
      tags:
        - Classification
      summary: Rename a face name
      description: |-
        Renames a face name in the system. The old name must exist and the new
            name must be valid. Returns a success message or an error if face recognition is not enabled.
      operationId: rename_face_faces__old_name__rename_put
      parameters:
        - name: old_name
          in: path
          required: true
          schema:
            type: string
            title: Old Name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameFaceBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /lpr/reprocess:
    put:
      tags:
        - Classification
      summary: Reprocess a license plate
      description: |-
        Reprocesses a license plate image to update the plate.
            Requires license plate recognition to be enabled in the configuration. The event_id
            must exist in the database. Returns a success message or an error if license plate
            recognition is not enabled or the event_id is invalid.
      operationId: reprocess_license_plate_lpr_reprocess_put
      parameters:
        - name: event_id
          in: query
          required: true
          schema:
            type: string
            title: Event Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /reindex:
    put:
      tags:
        - Classification
      summary: Reindex embeddings
      description: |-
        Reindexes the embeddings for all tracked objects.
            Requires semantic search to be enabled in the configuration. Returns a success message or an error if semantic search is not enabled.
      operationId: reindex_embeddings_reindex_put
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
  /audio/transcribe:
    put:
      tags:
        - Classification
      summary: Transcribe audio
      description: |-
        Transcribes audio from a specific event.
            Requires audio transcription to be enabled in the configuration. The event_id
            must exist in the database. Returns a success message or an error if audio transcription is not enabled or the event_id is invalid.
      operationId: transcribe_audio_audio_transcribe_put
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AudioTranscriptionBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/classification/{name}/dataset":
    get:
      tags:
        - Classification
      summary: Get classification dataset
      description: |-
        Gets the dataset for a specific classification model.
            The name must exist in the classification models. Returns a success message or an error if the name is invalid.
      operationId: get_classification_dataset_classification__name__dataset_get
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /classification/attributes:
    get:
      tags:
        - Classification
      summary: Get custom classification attributes
      description: |-
        Returns custom classification attributes for a given object type.
            Only includes models with classification_type set to 'attribute'.
            By default returns a flat sorted list of all attribute labels.
            If group_by_model is true, returns attributes grouped by model name.
      operationId: get_custom_attributes_classification_attributes_get
      parameters:
        - name: object_type
          in: query
          required: false
          schema:
            type: string
            title: Object Type
        - name: group_by_model
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Group By Model
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/classification/{name}/train":
    get:
      tags:
        - Classification
      summary: Get classification train images
      description: |-
        Gets the train images for a specific classification model.
            The name must exist in the classification models. Returns a success message or an error if the name is invalid.
      operationId: get_classification_images_classification__name__train_get
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    post:
      tags:
        - Classification
      summary: Train a classification model
      description: |-
        Trains a specific classification model.
            The name must exist in the classification models. Returns a success message or an error if the name is invalid.
      operationId: train_configured_model_classification__name__train_post
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/classification/{name}/dataset/{category}/delete":
    post:
      tags:
        - Classification
      summary: Delete classification dataset images
      description: >-
        Deletes specific dataset images for a given classification model and
        category.
            The image IDs must belong to the specified category. Returns a success message or an error if the name or category is invalid.
      operationId: >-
        delete_classification_dataset_images_classification__name__dataset__category__delete_post
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
        - name: category
          in: path
          required: true
          schema:
            type: string
            title: Category
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Body
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/classification/{name}/dataset/{old_category}/rename":
    put:
      tags:
        - Classification
      summary: Rename a classification category
      description: |-
        Renames a classification category for a given classification model.
            The old category must exist and the new name must be valid. Returns a success message or an error if the name is invalid.
      operationId: >-
        rename_classification_category_classification__name__dataset__old_category__rename_put
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
        - name: old_category
          in: path
          required: true
          schema:
            type: string
            title: Old Category
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Body
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/classification/{name}/dataset/categorize":
    post:
      tags:
        - Classification
      summary: Categorize a classification image
      description: >-
        Categorizes a specific classification image for a given classification
        model and category.
            The image must exist in the specified category. Returns a success message or an error if the name or category is invalid.
      operationId: >-
        categorize_classification_image_classification__name__dataset_categorize_post
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Body
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/classification/{name}/dataset/{category}/create":
    post:
      tags:
        - Classification
      summary: Create an empty classification category folder
      description: |-
        Creates an empty folder for a classification category.
            This is used to create folders for categories that don't have images yet.
            Returns a success message or an error if the name is invalid.
      operationId: >-
        create_classification_category_classification__name__dataset__category__create_post
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
        - name: category
          in: path
          required: true
          schema:
            type: string
            title: Category
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/classification/{name}/train/delete":
    post:
      tags:
        - Classification
      summary: Delete classification train images
      description: |-
        Deletes specific train images for a given classification model.
            The image IDs must belong to the specified train folder. Returns a success message or an error if the name is invalid.
      operationId: >-
        delete_classification_train_images_classification__name__train_delete_post
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Body
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /classification/generate_examples/state:
    post:
      tags:
        - Classification
      summary: Generate state classification examples
      description: Generate examples for state classification.
      operationId: generate_state_examples_classification_generate_examples_state_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateStateExamplesBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /classification/generate_examples/object:
    post:
      tags:
        - Classification
      summary: Generate object classification examples
      description: Generate examples for object classification.
      operationId: generate_object_examples_classification_generate_examples_object_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateObjectExamplesBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/classification/{name}":
    delete:
      tags:
        - Classification
      summary: Delete a classification model
      description: |-
        Deletes a specific classification model and all its associated data.
            Works even if the model is not in the config (e.g., partially created during wizard).
            Returns a success message.
      operationId: delete_classification_model_classification__name__delete
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            title: Name
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /review:
    get:
      tags:
        - Review
      summary: Review
      operationId: review_review_get
      parameters:
        - name: cameras
          in: query
          required: false
          schema:
            type: string
            default: all
            title: Cameras
        - name: labels
          in: query
          required: false
          schema:
            type: string
            default: all
            title: Labels
        - name: zones
          in: query
          required: false
          schema:
            type: string
            default: all
            title: Zones
        - name: reviewed
          in: query
          required: false
          schema:
            type: integer
            title: Reviewed
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            title: Limit
        - name: severity
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SeverityEnum"
        - name: before
          in: query
          required: false
          schema:
            type: number
            title: Before
        - name: after
          in: query
          required: false
          schema:
            type: number
            title: After
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReviewSegmentResponse"
                title: Response Review Review Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /review_ids:
    get:
      tags:
        - Review
      summary: Review Ids
      operationId: review_ids_review_ids_get
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
            title: Ids
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReviewSegmentResponse"
                title: Response Review Ids Review Ids Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /review/summary:
    get:
      tags:
        - Review
      summary: Review Summary
      operationId: review_summary_review_summary_get
      parameters:
        - name: cameras
          in: query
          required: false
          schema:
            type: string
            default: all
            title: Cameras
        - name: labels
          in: query
          required: false
          schema:
            type: string
            default: all
            title: Labels
        - name: zones
          in: query
          required: false
          schema:
            type: string
            default: all
            title: Zones
        - name: timezone
          in: query
          required: false
          schema:
            type: string
            default: utc
            title: Timezone
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewSummaryResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /reviews/viewed:
    post:
      tags:
        - Review
      summary: Set Multiple Reviewed
      operationId: set_multiple_reviewed_reviews_viewed_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewModifyMultipleBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /reviews/delete:
    post:
      tags:
        - Review
      summary: Delete Reviews
      operationId: delete_reviews_reviews_delete_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewModifyMultipleBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /review/activity/motion:
    get:
      tags:
        - Review
      summary: Motion Activity
      description: Get motion and audio activity.
      operationId: motion_activity_review_activity_motion_get
      parameters:
        - name: cameras
          in: query
          required: false
          schema:
            type: string
            default: all
            title: Cameras
        - name: before
          in: query
          required: false
          schema:
            type: number
            title: Before
        - name: after
          in: query
          required: false
          schema:
            type: number
            title: After
        - name: scale
          in: query
          required: false
          schema:
            type: integer
            default: 30
            title: Scale
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReviewActivityMotionResponse"
                title: Response Motion Activity Review Activity Motion Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/review/event/{event_id}":
    get:
      tags:
        - Review
      summary: Get Review From Event
      operationId: get_review_from_event_review_event__event_id__get
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            title: Event Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewSegmentResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/review/{review_id}":
    get:
      tags:
        - Review
      summary: Get Review
      operationId: get_review_review__review_id__get
      parameters:
        - name: review_id
          in: path
          required: true
          schema:
            type: string
            title: Review Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewSegmentResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/review/{review_id}/viewed":
    delete:
      tags:
        - Review
      summary: Set Not Reviewed
      operationId: set_not_reviewed_review__review_id__viewed_delete
      parameters:
        - name: review_id
          in: path
          required: true
          schema:
            type: string
            title: Review Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/review/summarize/start/{start_ts}/end/{end_ts}":
    post:
      tags:
        - Review
      summary: Generate Review Summary
      description: Use GenAI to summarize review items over a period of time.
      operationId: >-
        generate_review_summary_review_summarize_start__start_ts__end__end_ts__post
      parameters:
        - name: start_ts
          in: path
          required: true
          schema:
            type: number
            title: Start Ts
        - name: end_ts
          in: path
          required: true
          schema:
            type: number
            title: End Ts
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /:
    get:
      tags:
        - App
      summary: Is Healthy
      operationId: is_healthy__get
      responses:
        "200":
          description: Successful Response
          content:
            text/plain:
              schema:
                type: string
  /config/schema.json:
    get:
      tags:
        - App
      summary: Config Schema
      operationId: config_schema_config_schema_json_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /version:
    get:
      tags:
        - App
      summary: Version
      operationId: version_version_get
      responses:
        "200":
          description: Successful Response
          content:
            text/plain:
              schema:
                type: string
  /stats:
    get:
      tags:
        - App
      summary: Stats
      operationId: stats_stats_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /stats/history:
    get:
      tags:
        - App
      summary: Stats History
      operationId: stats_history_stats_history_get
      parameters:
        - name: keys
          in: query
          required: false
          schema:
            type: string
            title: Keys
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /metrics:
    get:
      tags:
        - App
      summary: Metrics
      description: Expose Prometheus metrics endpoint and update metrics with latest stats
      operationId: metrics_metrics_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /config:
    get:
      tags:
        - App
      summary: Config
      operationId: config_config_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /profiles:
    get:
      tags:
        - App
      summary: Get Profiles
      description: List all available profiles and the currently active profile.
      operationId: get_profiles_profiles_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /profile/active:
    get:
      tags:
        - App
      summary: Get Active Profile
      description: Get the currently active profile.
      operationId: get_active_profile_profile_active_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /ffmpeg/presets:
    get:
      tags:
        - App
      summary: Ffmpeg Presets
      description: Return available ffmpeg preset keys for config UI usage.
      operationId: ffmpeg_presets_ffmpeg_presets_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /config/raw_paths:
    get:
      tags:
        - App
      summary: Config Raw Paths
      description: >-
        Admin-only endpoint that returns camera paths and go2rtc streams without
        credential masking.
      operationId: config_raw_paths_config_raw_paths_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /config/raw:
    get:
      tags:
        - App
      summary: Config Raw
      operationId: config_raw_config_raw_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /config/save:
    post:
      tags:
        - App
      summary: Config Save
      operationId: config_save_config_save_post
      parameters:
        - name: save_option
          in: query
          required: true
          schema:
            type: string
            title: Save Option
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              title: Body
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /config/set:
    put:
      tags:
        - App
      summary: Config Set
      operationId: config_set_config_set_put
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppConfigSetBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /vainfo:
    get:
      tags:
        - App
      summary: Vainfo
      operationId: vainfo_vainfo_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /nvinfo:
    get:
      tags:
        - App
      summary: Nvinfo
      operationId: nvinfo_nvinfo_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  "/logs/{service}":
    get:
      tags:
        - App
        - Logs
      summary: Logs
      description: Get logs for the requested service (frigate/nginx/go2rtc)
      operationId: logs_logs__service__get
      parameters:
        - name: service
          in: path
          required: true
          schema:
            type: string
            enum:
              - frigate
              - nginx
              - go2rtc
            title: Service
        - name: download
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Download
        - name: stream
          in: query
          required: false
          schema:
            anyOf:
              - type: boolean
              - type: "null"
            default: false
            title: Stream
        - name: start
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            default: 0
            title: Start
        - name: end
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            title: End
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /restart:
    post:
      tags:
        - App
      summary: Restart
      operationId: restart_restart_post
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /media/sync:
    post:
      tags:
        - App
      summary: Start media sync job
      description: >-
        Start an asynchronous media sync job to find and (optionally) remove
        orphaned media files.
            Returns 202 with job details when queued, or 409 if a job is already running.
      operationId: sync_media_media_sync_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediaSyncBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /media/sync/current:
    get:
      tags:
        - App
      summary: Get current media sync job
      description: >-
        Retrieve the current running media sync job, if any. Returns the job
        details
            or null when no job is active.
      operationId: get_media_sync_current_media_sync_current_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  "/media/sync/status/{job_id}":
    get:
      tags:
        - App
      summary: Get media sync job status
      description: >-
        Get status and results for the specified media sync job id. Returns 200
        with
            job details including results, or 404 if the job is not found.
      operationId: get_media_sync_status_media_sync_status__job_id__get
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            title: Job Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /labels:
    get:
      tags:
        - App
      summary: Get Labels
      operationId: get_labels_labels_get
      parameters:
        - name: camera
          in: query
          required: false
          schema:
            type: string
            default: ""
            title: Camera
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /sub_labels:
    get:
      tags:
        - App
      summary: Get Sub Labels
      operationId: get_sub_labels_sub_labels_get
      parameters:
        - name: split_joined
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            title: Split Joined
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /audio_labels:
    get:
      tags:
        - App
      summary: Get Audio Labels
      operationId: get_audio_labels_audio_labels_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /plus/models:
    get:
      tags:
        - App
      summary: Plusmodels
      operationId: plusModels_plus_models_get
      parameters:
        - name: filterByCurrentModelDetector
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Filterbycurrentmodeldetector
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /recognized_license_plates:
    get:
      tags:
        - App
      summary: Get Recognized License Plates
      operationId: get_recognized_license_plates_recognized_license_plates_get
      parameters:
        - name: split_joined
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            title: Split Joined
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /timeline:
    get:
      tags:
        - App
      summary: Timeline
      operationId: timeline_timeline_get
      parameters:
        - name: camera
          in: query
          required: false
          schema:
            type: string
            default: all
            title: Camera
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
        - name: source_id
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Source Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /timeline/hourly:
    get:
      tags:
        - App
      summary: Hourly Timeline
      description: Get hourly summary for timeline.
      operationId: hourly_timeline_timeline_hourly_get
      parameters:
        - name: cameras
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Cameras
        - name: labels
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Labels
        - name: after
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: After
        - name: before
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: Before
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            default: 200
            title: Limit
        - name: timezone
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: utc
            title: Timezone
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/preview/{camera_name}/start/{start_ts}/end/{end_ts}":
    get:
      tags:
        - Preview
      summary: Get preview clips for time range
      description: |-
        Gets all preview clips for a specified camera and time range.
            Returns a list of preview video clips that overlap with the requested time period,
            ordered by start time. Use camera_name='all' to get previews from all cameras.
            Returns an error if no previews are found.
      operationId: preview_ts_preview__camera_name__start__start_ts__end__end_ts__get
      parameters:
        - name: camera_name
          in: path
          required: true
          schema:
            type: string
            title: Camera Name
        - name: start_ts
          in: path
          required: true
          schema:
            type: number
            title: Start Ts
        - name: end_ts
          in: path
          required: true
          schema:
            type: number
            title: End Ts
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PreviewModel"
                title: >-
                  Response Preview Ts Preview  Camera Name  Start  Start Ts
                  End  End Ts  Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/preview/{year_month}/{day}/{hour}/{camera_name}/{tz_name}":
    get:
      tags:
        - Preview
      summary: Get preview clips for specific hour
      description: |-
        Gets all preview clips for a specific hour in a given timezone.
            Converts the provided date/time from the specified timezone to UTC and retrieves
            all preview clips for that hour. Use camera_name='all' to get previews from all cameras.
            The tz_name should be a timezone like 'America/New_York' (use commas instead of slashes).
      operationId: >-
        preview_hour_preview__year_month___day___hour___camera_name___tz_name__get
      parameters:
        - name: year_month
          in: path
          required: true
          schema:
            type: string
            title: Year Month
        - name: day
          in: path
          required: true
          schema:
            type: integer
            title: Day
        - name: hour
          in: path
          required: true
          schema:
            type: integer
            title: Hour
        - name: camera_name
          in: path
          required: true
          schema:
            type: string
            title: Camera Name
        - name: tz_name
          in: path
          required: true
          schema:
            type: string
            title: Tz Name
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PreviewModel"
                title: >-
                  Response Preview Hour Preview  Year Month   Day   Hour
                  Camera Name   Tz Name  Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/preview/{camera_name}/start/{start_ts}/end/{end_ts}/frames":
    get:
      tags:
        - Preview
      summary: Get cached preview frame filenames
      description: >-
        Gets a list of cached preview frame filenames for a specific camera and
        time range.
            Returns an array of filenames for preview frames that fall within the specified time period,
            sorted in chronological order. These are individual frame images cached for quick preview display.
      operationId: >-
        get_preview_frames_from_cache_preview__camera_name__start__start_ts__end__end_ts__frames_get
      parameters:
        - name: camera_name
          in: path
          required: true
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Camera Name
        - name: start_ts
          in: path
          required: true
          schema:
            type: number
            title: Start Ts
        - name: end_ts
          in: path
          required: true
          schema:
            type: number
            title: End Ts
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                title: >-
                  Response Get Preview Frames From Cache Preview  Camera Name
                  Start  Start Ts  End  End Ts  Frames Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /notifications/pubkey:
    get:
      tags:
        - Notifications
      summary: Get VAPID public key
      description: |-
        Gets the VAPID public key for the notifications.
            Returns the public key or an error if notifications are not enabled.
      operationId: get_vapid_pub_key_notifications_pubkey_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /notifications/register:
    post:
      tags:
        - Notifications
      summary: Register notifications
      description: |-
        Registers a notifications subscription.
            Returns a success message or an error if the subscription is not provided.
      operationId: register_notifications_notifications_register_post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Body
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /exports:
    get:
      tags:
        - Export
      summary: Get exports
      description: |-
        Gets all exports from the database for cameras the user has access to.
            Returns a list of exports ordered by date (most recent first).
      operationId: get_exports_exports_get
      parameters:
        - name: export_case_id
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Export Case Id
        - name: cameras
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Cameras
        - name: start_date
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: Start Date
        - name: end_date
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: End Date
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExportModel"
                title: Response Get Exports Exports Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /exports/batch:
    post:
      tags:
        - Export
      summary: Start recording export batch
      description: >-
        Starts recording exports for a batch of items, each with its own camera
        and time range. Optionally assigns them to a new or existing export case.
        When neither export_case_id nor new_case_name is provided, exports are
        added as uncategorized. Attaching to an existing case is admin-only.
      operationId: export_recordings_batch_exports_batch_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchExportBody"
      responses:
        "202":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchExportResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /exports/delete:
    post:
      tags:
        - Export
      summary: Bulk delete exports
      description: >-
        Deletes one or more exports by ID. All IDs must exist and none can be
        in-progress. Admin-only.
      operationId: bulk_delete_exports_exports_delete_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportBulkDeleteBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          description: Bad Request - one or more exports are in-progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "404":
          description: Not Found - one or more export IDs do not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /exports/reassign:
    post:
      tags:
        - Export
      summary: Bulk reassign exports to a case
      description: >-
        Assigns or unassigns one or more exports to/from a case. All IDs must
        exist. Pass export_case_id as null to unassign (move to uncategorized).
        Admin-only.
      operationId: bulk_reassign_exports_exports_reassign_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportBulkReassignBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "404":
          description: Not Found - one or more export IDs or the target case do not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /cases:
    get:
      tags:
        - Export
      summary: Get export cases
      description: Gets all export cases from the database.
      operationId: get_export_cases_cases_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExportCaseModel"
                title: Response Get Export Cases Cases Get
    post:
      tags:
        - Export
      summary: Create export case
      description: Creates a new export case.
      operationId: create_export_case_cases_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportCaseCreateBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExportCaseModel"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/cases/{case_id}":
    get:
      tags:
        - Export
      summary: Get a single export case
      description: Gets a specific export case by ID.
      operationId: get_export_case_cases__case_id__get
      parameters:
        - name: case_id
          in: path
          required: true
          schema:
            type: string
            title: Case Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExportCaseModel"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    patch:
      tags:
        - Export
      summary: Update export case
      description: Updates an existing export case.
      operationId: update_export_case_cases__case_id__patch
      parameters:
        - name: case_id
          in: path
          required: true
          schema:
            type: string
            title: Case Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportCaseUpdateBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    delete:
      tags:
        - Export
      summary: Delete export case
      description: |-
        Deletes an export case.
            Exports that reference this case will have their export_case set to null.
      operationId: delete_export_case_cases__case_id__delete
      parameters:
        - name: case_id
          in: path
          required: true
          schema:
            type: string
            title: Case Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/export/{camera_name}/start/{start_time}/end/{end_time}":
    post:
      tags:
        - Export
      summary: Start recording export
      description: |-
        Starts an export of a recording for the specified time range.
            The export can be from recordings or preview footage. Returns the export ID if
            successful, or an error message if the camera is invalid or no recordings/previews
            are found for the time range.
      operationId: >-
        export_recording_export__camera_name__start__start_time__end__end_time__post
      parameters:
        - name: camera_name
          in: path
          required: true
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Camera Name
        - name: start_time
          in: path
          required: true
          schema:
            type: number
            title: Start Time
        - name: end_time
          in: path
          required: true
          schema:
            type: number
            title: End Time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportRecordingsBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartExportResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/export/{event_id}/rename":
    patch:
      tags:
        - Export
      summary: Rename export
      description: |-
        Renames an export.
            NOTE: This changes the friendly name of the export, not the filename.
      operationId: export_rename_export__event_id__rename_patch
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            title: Event Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportRenameBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/export/custom/{camera_name}/start/{start_time}/end/{end_time}":
    post:
      tags:
        - Export
      summary: Start custom recording export
      description: >-
        Starts an export of a recording for the specified time range using
        custom FFmpeg arguments.
            The export can be from recordings or preview footage. Returns the export ID if
            successful, or an error message if the camera is invalid or no recordings/previews
            are found for the time range. If ffmpeg_input_args and ffmpeg_output_args are not provided,
            defaults to timelapse export settings.
      operationId: >-
        export_recording_custom_export_custom__camera_name__start__start_time__end__end_time__post
      parameters:
        - name: camera_name
          in: path
          required: true
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Camera Name
        - name: start_time
          in: path
          required: true
          schema:
            type: number
            title: Start Time
        - name: end_time
          in: path
          required: true
          schema:
            type: number
            title: End Time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportRecordingsCustomBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartExportResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/exports/{export_id}":
    get:
      tags:
        - Export
      summary: Get a single export
      description: |-
        Gets a specific export by ID. The user must have access to the camera
            associated with the export.
      operationId: get_export_exports__export_id__get
      parameters:
        - name: export_id
          in: path
          required: true
          schema:
            type: string
            title: Export Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExportModel"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /events:
    get:
      tags:
        - Events
      summary: Get events
      description: Returns a list of events.
      operationId: events_events_get
      parameters:
        - name: camera
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Camera
        - name: cameras
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Cameras
        - name: label
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Label
        - name: labels
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Labels
        - name: sub_label
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Sub Label
        - name: sub_labels
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Sub Labels
        - name: attributes
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Attributes
        - name: zone
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Zone
        - name: zones
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Zones
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            default: 100
            title: Limit
        - name: after
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: After
        - name: before
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: Before
        - name: time_range
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: "00:00,24:00"
            title: Time Range
        - name: has_clip
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            title: Has Clip
        - name: has_snapshot
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            title: Has Snapshot
        - name: in_progress
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            title: In Progress
        - name: include_thumbnails
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            default: 1
            title: Include Thumbnails
        - name: favorites
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            title: Favorites
        - name: min_score
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: Min Score
        - name: max_score
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: Max Score
        - name: min_speed
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: Min Speed
        - name: max_speed
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: Max Speed
        - name: recognized_license_plate
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: all
            title: Recognized License Plate
        - name: is_submitted
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: "null"
            title: Is Submitted
        - name: min_length
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: Min Length
        - name: max_length
          in: query
          required: false
          schema:
            anyOf:
              - type: number
              - type: "null"
            title: Max Length
        - name: event_id
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Event Id
        - name: sort
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Sort
        - name: timezone
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            default: utc
            title: Timezone
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EventResponse"
                title: Response Events Events Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /events/explore:
    get:
      tags:
        - Events
      summary: Get summary of objects
      description: |-
        Gets a summary of objects from the database.
            Returns a list of objects with a max of `limit` objects for each label.
      operationId: events_explore_events_explore_get
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            title: Limit
      responses:
        "200":
[...]
