version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    target-branch: dev
  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    target-branch: dev
  - package-ecosystem: "pip"
    directory: "/docker/main"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    target-branch: dev
  - package-ecosystem: "pip"
    directory: "/docker/tensorrt"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    target-branch: dev
  - package-ecosystem: "npm"
    directory: "/web"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    target-branch: dev
  - package-ecosystem: "npm"
    directory: "/docs"
    schedule:
      interval: daily
    allow:
      - dependency-name: "@docusaurus/*"
    open-pull-requests-limit: 10
    target-branch: dev
