.DS_Store
*.pyc
*.swp
debug
.vscode/*
!.vscode/launch.json
config/*
!config/*.example
models
*.mp4
*.db
*.csv
frigate/version.py
web/build
web/node_modules
web/coverage
web-new/build
web-new/node_modules
web-new/coverage
core
!/web/**/*.ts
.idea/*