# NVidia TensorRT Support (amd64 only)
nvidia-pyindex; platform_machine == 'x86_64'
tensorrt == 8.6.1; platform_machine == 'x86_64'
cuda-python == 12.1; platform_machine == 'x86_64'
cython == 0.29.*; platform_machine == 'x86_64'
nvidia-cuda-runtime-cu12 == 12.1.*; platform_machine == 'x86_64'
nvidia-cublas-cu12 == 12.1.*; platform_machine == 'x86_64'
nvidia-cudnn-cu12 == 8.9.*; platform_machine == 'x86_64'
nvidia-cuda-nvrtc-cu12 == 12.1.*; platform_machine == 'x86_64'