@layer base {
  :root {
    --background-hsl: hsl(0 0% 100%);
    --background: 0 0% 100%;

    --foreground: hsl(222.2 84% 4.9%);
    --foreground: 222.2 84% 4.9%;

    --card: hsl(0 0% 100%);
    --card: 0 0% 100%;

    --card-foreground: hsl(222.2 84% 4.9%);
    --card-foreground: 222.2 84% 4.9%;

    --popover: hsl(0 0% 100%);
    --popover: 0 0% 100%;

    --popover-foreground: hsl(222.2 84% 4.9%);
    --popover-foreground: 222.2 84% 4.9%;

    --primary: hsl(222.2 47.4% 11.2%);
    --primary: 222.2 47.4% 11.2%;

    --primary-foreground: hsl(210 40% 98%);
    --primary-foreground: 210 40% 98%;

    --secondary: hsl(210 40% 96.1%);
    --secondary: 210 40% 96.1%;

    --secondary-foreground: hsl(222.2 47.4% 11.2%);
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: hsl(210 40% 96.1%);
    --muted: 210 40% 96.1%;

    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: hsl(210 40% 96.1%);
    --accent: 210 40% 96.1%;

    --accent-foreground: hsl(222.2 47.4% 11.2%);
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: hsl(0 84.2% 60.2%);
    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: hsl(210 40% 98%);
    --destructive-foreground: 210 40% 98%;

    --border: hsl(214.3 31.8% 91.4%);
    --border: 214.3 31.8% 91.4%;

    --input: hsl(214.3 31.8% 91.4%);
    --input: 214.3 31.8% 91.4%;

    --ring: hsl(222.2 84% 4.9%);
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background-hsl: hsl(222.2 84% 4.9%);
    --background: 222.2 84% 4.9%;

    --foreground: hsl(210 40% 98%);
    --foreground: 210 40% 98%;

    --card: hsl(222.2 84% 4.9%);
    --card: 222.2 84% 4.9%;

    --card-foreground: hsl(210 40% 98%);
    --card-foreground: 210 40% 98%;

    --popover: hsl(222.2 84% 4.9%);
    --popover: 222.2 84% 4.9%;

    --popover-foreground: hsl(210 40% 98%);
    --popover-foreground: 210 40% 98%;

    --primary: hsl(210 40% 98%);
    --primary: 210 40% 98%;

    --primary-foreground: hsl(222.2 47.4% 11.2%);
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary: 217.2 32.6% 17.5%;

    --secondary-foreground: hsl(210 40% 98%);
    --secondary-foreground: 210 40% 98%;

    --muted: hsl(217.2 32.6% 17.5%);
    --muted: 217.2 32.6% 17.5%;

    --muted-foreground: hsl(215 20.2% 65.1%);
    --muted-foreground: 215 20.2% 65.1%;

    --accent: hsl(217.2 32.6% 17.5%);
    --accent: 217.2 32.6% 17.5%;

    --accent-foreground: hsl(210 40% 98%);
    --accent-foreground: 210 40% 98%;

    --destructive: hsl(0 62.8% 30.6%);
    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: hsl(210 40% 98%);
    --destructive-foreground: 210 40% 98%;

    --border: hsl(217.2 32.6% 17.5%);
    --border: 217.2 32.6% 17.5%;

    --input: hsl(217.2 32.6% 17.5%);
    --input: 217.2 32.6% 17.5%;

    --ring: hsl(212.7 26.8% 83.9%);
    --ring: 212.7 26.8% 83.9%;
  }
}
