@layer base {
  .theme-netflix.light {
    --background: 0 0% 100%;
    --background-alt: 0 0% 96%;
    --foreground: 0 0% 0%;
    --muted: 0 0% 68%;
    --muted-foreground: 0 0% 0%;
    --popover: 0 0% 95%;
    --popover-foreground: 0 0% 0%;
    --border: 0 68% 39%;
    --input: 0 68% 39%;
    --card: 0 0% 95%;
    --card-foreground: 0 0% 0%;
    --primary: 0 100% 44%;
    --primary-variant: 0 100% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 80%;
    --secondary-foreground: 0 0% 100%;
    --secondary-highlight: 0 0% 10%;
    --accent: 0 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 68% 39%;
    --destructive-foreground: 0 0% 100%;
    --warning: 45 100% 51%;
    --warning-foreground: 0 0% 0%;
    --ring: 0 100% 44%;
    --selected: 0 100% 44%;
    --selected-foreground: 0 0% 100%;
  }

  .theme-netflix.dark {
    --background: 0 0% 0%;
    --background-alt: 0 0% 5%;
    --foreground: 0 0% 100%;
    --muted: 0 0% 50%;
    --muted-foreground: 0 0% 100%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 100%;
    --border: 0 68% 39%;
    --input: 0 68% 39%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 100%;
    --primary: 0 70% 44%;
    --primary-variant: 0 100% 34%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 40%;
    --secondary-highlight: 0 0% 90%;
    --accent: 0 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 68% 39%;
    --destructive-foreground: 0 0% 100%;
    --warning: 45 100% 51%;
    --warning-foreground: 0 0% 0%;
    --ring: 0 100% 44%;
    --selected: 0 100% 44%;
    --selected-foreground: 0 0% 0%;
  }
}
