@layer base {
  .theme-nord.light {
    --background: 220 16% 96%;
    --background-alt: 215 14% 92%;
    --foreground: 222 20% 16%;
    --muted: 215 14% 80%;
    --muted-foreground: 222 20% 16%;
    --popover: 220 16% 96%;
    --popover-foreground: 222 20% 16%;
    --border: 222 20% 70%;
    --input: 222 20% 70%;
    --card: 220 16% 96%;
    --card-foreground: 222 20% 16%;
    --primary: 222 20% 35%;
    --primary-variant: 222 20% 60%;
    --primary-foreground: 220 16% 96%;
    --secondary: 215 14% 80%;
    --secondary-foreground: 222 20% 16%;
    --secondary-highlight: 215 14% 88%;
    --neutral: 0 0% 45.1%;
    --neutral_variant: 0 0% 32.2%;
    --accent: 215 14% 80%;
    --accent-foreground: 222 20% 16%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 222 20% 16%;
    --warning: 45 100% 51%;
    --warning-foreground: 222 20% 16%;
    --ring: 222 20% 70%;
    --selected: 222 20% 70%;
    --selected-foreground: 220 16% 96%;
  }

  .theme-nord.dark {
    --background: 220 16% 16%;
    --background-alt: 215 14% 12%;
    --foreground: 222 20% 96%;
    --muted: 215 14% 25%;
    --muted-foreground: 222 20% 66%;
    --popover: 220 16% 16%;
    --popover-foreground: 222 20% 66%;
    --border: 222 20% 40%;
    --input: 222 20% 40%;
    --card: 220 16% 16%;
    --card-foreground: 222 20% 96%;
    --primary: 222 20% 75%;
    --primary-variant: 222 20% 55%;
    --primary-foreground: 220 16% 16%;
    --secondary: 215 14% 25%;
    --secondary-foreground: 222 20% 86%;
    --secondary-highlight: 215 14% 35%;
    --neutral: 0 0% 45.1%;
    --neutral_variant: 0 0% 32.2%;
    --accent: 215 14% 25%;
    --accent-foreground: 222 20% 96%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 222 20% 96%;
    --warning: 45 100% 51%;
    --warning-foreground: 222 20% 96%;
    --ring: 222 20% 40%;
    --selected: 222 20% 55%;
    --selected-foreground: 220 16% 16%;
  }
}
