@layer base {
  .theme-gold.light {
    --background: 38 77% 88%;
    --background-alt: 39 100% 85%;
    --foreground: 16 43% 34%;
    --muted: 28 46% 56%;
    --muted-foreground: 16 43% 34%;
    --popover: 38 77% 88%;
    --popover-foreground: 16 43% 34%;
    --border: 28 46% 56%;
    --input: 28 46% 56%;
    --card: 38 77% 88%;
    --card-foreground: 16 43% 34%;
    --primary: 28 46% 56%;
    --primary-variant: 28 46% 46%;
    --primary-foreground: 60 70% 90%;
    --secondary: 39 100% 73%;
    --secondary-foreground: 16 43% 34%;
    --secondary-highlight: 39 100% 80%;
    --accent: 39 100% 73%;
    --accent-foreground: 16 43% 34%;
    --destructive: 16 43% 34%;
    --destructive-foreground: 38 77% 88%;
    --warning: 45 100% 51%;
    --warning-foreground: 16 43% 34%;
    --ring: 28 46% 56%;
    --selected: 39 100% 73%;
    --selected-foreground: 16 43% 34%;
  }

  .theme-gold.dark {
    --background: 28 46% 28%;
    --background-alt: 28 46% 34%;
    --foreground: 38 77% 88%;
    --muted: 28 46% 56%;
    --muted-foreground: 38 77% 88%;
    --popover: 25 45% 34%;
    --popover-foreground: 38 77% 88%;
    --border: 28 46% 56%;
    --input: 28 46% 56%;
    --card: 16 43% 34%;
    --card-foreground: 38 77% 88%;
    --primary: 28 46% 50%;
    --primary-variant: 28 46% 46%;
    --primary-foreground: 60 70% 90%;
    --secondary: 39 60% 63%;
    --secondary-foreground: 28 50% 44%;
    --secondary-highlight: 39 100% 65%;
    --accent: 39 100% 52%;
    --accent-foreground: 16 43% 34%;
    --destructive: 38 77% 88%;
    --destructive-foreground: 16 43% 34%;
    --warning: 45 100% 51%;
    --warning-foreground: 16 43% 34%;
    --ring: 28 46% 56%;
    --selected: 39 100% 52%;
    --selected-foreground: 16 43% 34%;
  }
}
