@layer base {
  .theme-red.light {
    --background: 0 0% 100%;
    --background-alt: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-variant: 346.8 77.2% 39.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 0 35.9% 50%;
    --secondary-highlight: 0 0% 92%;
    --neutral: 0 0% 45.1%;
    --neutral_variant: 0 0% 32.2%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --warning: 45 100% 51%;
    --warning-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --selected: 346.8 77.2% 49.8%;
    --selected-foreground: 355.7 100% 97.3%;
  }

  .theme-red.dark {
    --background: 20 14.3% 4.1%;
    --background-alt: 0 0% 9%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 37.2% 90.8%;
    --primary-variant: 346.8 77.2% 39.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --secondary-highlight: 0 0% 25.9%;
    --neutral: 0 0% 45.1%;
    --neutral_variant: 0 0% 32.2%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --warning: 45 100% 51%;
    --warning-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --selected: 346.8 77.2% 39.8%;
    --selected-foreground: 355.7 100% 97.3%;
  }
}
