@tailwind base;
@tailwind components;
@tailwind utilities;

.activityindicator {
  border-top-color: currentColor;
  -webkit-animation: spinner 0.75s linear infinite;
  animation: spinner 0.75s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.jsmpeg canvas {
  position: static !important;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*
 Hide some videoplayer controls on mobile devices to
 align the video player and bottom control bar properly.
*/
@media only screen and (max-width: 700px) {
  .small-player .vjs-time-control,
  .small-player .vjs-time-divider {
    display: none;
  }
  div.vjs-control-bar > .skip-back.skip-5,
  div.vjs-control-bar > .skip-forward.skip-10 {
    display: none;
  }
}

/*
 loader used for cleanup operation progression
*/
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  --_m:
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin: auto;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.batch-actions {
  border: 1px solid #fff;
  border-radius: 6px;
}

.batch-actions div {
  padding: 3px;
}
