web_port: 5000

mqtt:
  host: mqtt.server.com
  topic_prefix: frigate
  # user: username # Optional -- Uncomment for use
  # password: password # Optional -- Uncomment for use

cameras:
  back:
    rtsp:
      user: viewer
      host: 10.0.10.10
      port: 554
      # values that begin with a "$" will be replaced with environment variable
      password: $RTSP_PASSWORD
      path: /cam/realmonitor?channel=1&subtype=2
      ################
      ## Optional URL format. Specifying this will override the default RTSP URL format.
      ## Some cameras support the RTMP protocol which may give better performance. 
      ################
      # urlformat: rtmp://{host}:{port}{path}&user={user}&password={password}


    ################
    ## Optional URL format. Specifying this will override the default RTSP URL format.
    ## Some cameras support the RTMP protocol which may give better performance. 
    ################
    # urlformat: rtmp://{host}:{port}{path}&user={user}&password={password}

    ################
    ## Optional mask. Must be the same dimensions as your video feed.
    ## The mask works by looking at the bottom center of the bounding box for the detected
    ## person in the image. If that pixel in the mask is a black pixel, it ignores it as a
    ## false positive. In my mask, the grass and driveway visible from my backdoor camera 
    ## are white. The garage doors, sky, and trees (anywhere it would be impossible for a 
    ## person to stand) are black.
    ################
    # mask: back-mask.bmp

    ################
    # Allows you to limit the framerate within frigate for cameras that do not support
    # custom framerates. A value of 1 tells frigate to look at every frame, 2 every 2nd frame, 
    # 3 every 3rd frame, etc.
    ################
    take_frame: 1

    ################
    # Optional hardware acceleration parameters for ffmpeg. If your hardware supports it, it can
    # greatly reduce the CPU power used to decode the video stream. You will need to determine which
    # parameters work for your specific hardware. These may work for those with Intel hardware that
    # supports QuickSync.
    ################
    # ffmpeg_hwaccel_args:
    #   - -hwaccel
    #   - vaapi
    #   - -hwaccel_device
    #   - /dev/dri/renderD128
    #   - -hwaccel_output_format
    #   - yuv420p

    ################
    # FFmpeg log level. Default is "panic". https://ffmpeg.org/ffmpeg.html#Generic-options
    ################
    # ffmpeg_log_level: panic

    ################
    # Optional custom input args. Some cameras may need custom ffmpeg params to work reliably. Specifying
    # these will replace the default input params.
    ################
    # ffmpeg_input_args: []

    ################
    # Optional custom output args. Some cameras may need custom ffmpeg params to work reliably. Specifying
    # these will replace the default output params.
    ################
    # ffmpeg_output_args: []


    ################
    ## RTMP supports all RTSP arguments
    ## The RTMP config uses different ffmpeg arguments to make it compatible with frigate.
    ################

    rtmp:
      user: viewer
      host: 10.0.10.11
      port: 1935
      # values that begin with a "$" will be replaced with environment variable
      password: $RTSP_PASSWORD
      path: /cam/realmonitor?channel=1&subtype=2    

    rtmp:
      user: viewer
      host: 10.0.10.12
      port: 1935
      # values that begin with a "$" will be replaced with environment variable
      password: $RTSP_PASSWORD
      path: /cam/realmonitor?channel=1&subtype=2    
      urlformat: rtmp://{host}:{port}{path}&user={user}&password={password}
    
    regions:
      - size: 350
        x_offset: 0
        y_offset: 300
        min_person_area: 5000
        threshold: 0.5
      - size: 400
        x_offset: 350
        y_offset: 250
        min_person_area: 2000
        threshold: 0.5
      - size: 400
        x_offset: 750
        y_offset: 250
        min_person_area: 2000
        threshold: 0.5
