@tailwind base;
@tailwind components;
@tailwind utilities;

.activityindicator {
  border-top-color: currentColor;
  -webkit-animation: spinner 0.75s linear infinite;
  animation: spinner 0.75s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.video-js.vjs-has-started .vjs-touch-overlay {
  display: none;
}
