{{ if .base_path }}
location ~ ^/.*-([A-Za-z0-9]+)\.webmanifest$ {
     access_log off;
     expires 1y;
     add_header Cache-Control "public";
     default_type application/json;
     proxy_set_header Accept-Encoding "";
     sub_filter_once off;
     sub_filter_types application/json;
     sub_filter '"start_url": "/"' '"start_url" : "{{ .base_path }}"';
     sub_filter '"src": "/' '"src": "{{ .base_path }}/';
}
{{ end }}